extend layout

block content
    div.
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    
    h4= title
    .row
        - for (var x = 0; x < userGroups.length; x++)
            a(href=`/groupName/${userGroups[x].groupName}`)
                    .col-sm-6
                        .card(style='background-color: #cecece;')
                            .card-block
                                img(src=groupIcon[x] style="width: 17.9rem; height: 10rem")
                                h5.card-title=userGroups[x].groupName
                                p.card-text Group description
        
    
